/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
}

header {
  background-color: #051626;
  color: #ede6ce;
  font-weight: bold;
}

body {
  background-color: #051626;
  color: #ede6ce;
  font-size: 62.5%;
}

label {
  background-color: #c03318;
  color: #ede6ce;
  font-size: 1rem;
}

header,
li,
h1,
h2,
h3,
h4 {
  background-color: #1d507d;
  color: #ede6ce;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  text-transform: capitalize;
}
h5 {
  background-color: #1d507d;
  color: #ede6ce;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.feats-section > span,
.feats-section > span {
  text-align: center;
  padding: 0 0 0 5%;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  width: 80%;
  padding: 0 0 0 5%;
}

a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/

nav {
  height: 6vh;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

nav > ul > a {
  flex-basis: 5%;
}

#sf-logo {
  flex-basis: 10%;
}

span {
  width: 100%;
}

/***
*
*  Main Section
*
*/

.main-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.info-section {
  border: white solid 0.5px;
  width: 70%;
  display: block;
}

.content-container-top {
  display: flex;
  flex-flow: wrap;
}

h1 {
  width: 100%;
  border: white solid 0.5px;
}

.side-heading {
  position: sticky;
  top: 0;
  z-index: 5;
}

.bar-top {
  display: flex;
  border: white solid 0.5px;
}

.bar-top-left {
  height: 40vh;
  width: 20%;
}

.bar-top-center {
  height: 40vh;
  width: 60%;
}

.bar-top-right {
  height: 40vh;
  width: 20%;
  align-self: center;
}

.stats-top-last {
  width: 100%;
}

.bar-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  width: 100%;
  height: 40vh;
  border: white solid 0.5px;
}

.feats-section {
  width: 50%;
  height: 90%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.feats-section > h2 {
  width: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.image-top {
  flex-basis: 30%;

  height: 60%;
}

.size-subtype {
  flex-basis: 30%;
  height: 40%;
}

.size-subtype > h2 {
  font-size: 1rem;
}

.focus-image {
  object-fit: contain;
}

.stats-top {
  overflow-y: auto;
}

.bar-top-left,
.size-subtype {
  overflow-y: auto;
}

/***
*
*  Image Gallery
*
*/

.gallery-container {
  width: 25%;
  border: white solid 0.5px;
}

.image-gallery {
  overflow-y: auto;
  width: 100%;
}

.core-rulebook {
  height: 35vh;
}

.character-ops-manual {
  height: 30vh;
}

.pact-worlds {
  height: 29vh;
}

.alien-archive-one {
  height: 47vh;
}

.alien-archive-two {
  height: 47vh;
}

aside {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.image-container {
  width: 33%;
  position: relative;
  padding: 1%;
}

img {
  width: 100%;
  height: 100%;
}

.image-container .after {
  position: absolute;
  top: 125px;
  left: 0;
  font-size: 1.4rem;
  width: 96%;
  height: 23%;
  text-align: center;
}

#skittermander {
  font-size: smaller;
}

label {
  padding: 2% 5%;
  position: relative;
  display: inline;
  left: 0;
  top: 0;
  z-index: 2;
  text-transform: capitalize;
}

footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
}

/***
*
*  Image Gallery
*
*/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}

.selected-thumb {
  font-weight: bold;
  border: 2px solid #c03318;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 1920px) {
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    object-fit: fill;
    overflow: hidden;
  }
  .image-container .after {
    font-size: 1rem;
    width: 96%;
    top: 100px;
    height: 23%;
  }
  .feats-section > span,
  .stats-top > span {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
  }
}

@media all and (max-width: 1600px) {
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
  }
  .image-container .after {
    font-size: 1rem;
    top: 85px;
    width: 96%;
    height: 23%;
  }
  .feats-section > span,
  .stats-top > span {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
  }
}

@media all and (max-width: 1400px) {
  .iframe-container {
    padding-bottom: 90%;
  }
  .image-container .after {
    font-size: 1.2rem;
    top: 110px;
    width: 96%;
    height: 23%;
  }
  .feats-section > span,
  .stats-top > span {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
  }
  .image-container {
    width: 50%;
    position: relative;
    padding: 1%;
  }
}

@media all and (max-width: 1280px) {
  .iframe-container {
    padding-bottom: 50%;
  }
  .image-container .after {
    font-size: 1.2rem;
    top: 90px;
    width: 96%;
    height: 23%;
  }

  .image-container {
    width: 50%;
    position: relative;
    padding: 1%;
  }

  .bar-top-center {
    height: 30vh;
    width: 100%;
  }

  .image-top {
    display: none;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    object-fit: fill;
    overflow: hidden;
  }

  .image-container {
    width: 50%;
    position: relative;
    padding: 1%;
  }
  .stats-top {
    flex-basis: 100%;
    overflow-y: auto;
  }
  .bar-top-left {
    height: 25vh;
    width: 100%;
  }
  .bar-top-right,
  .size-subtype {
    height: 15vh;
    width: 100%;
  }

  .bar-top-center {
    height: 30vh;
    width: 100%;
  }
  .size-subtype {
    width: 100%;
    height: 25vh;
  }

  .image-top {
    display: none;
  }

  .feats-section {
    width: 100%;
    height: 75vh;
  }
  .bar-bottom,
  .gallery-container {
    border-bottom: white 0px;
  }
}

@media all and (max-width: 850px) {
}
